@import url('https://fonts.googleapis.com/css2?family=Honk&family=IBM+Plex+Sans:wght@200&family=Roboto:wght@300&display=swap');

@font-face{
	font-family: BogdanFont;
	src:url("./oyster/Oyster.otf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app{
	display: flex;
	height: 100vh;
	color: whitesmoke;
}

/* ----------------------   Wallpaper ------------------------ */
#wallpaper{
	background-image: url(../img.jpg);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	flex:40%;
	/* border-right:2em inset blue;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	box-shadow: 10px 10px 10px black; */
}

#wallpaper > header {
	text-align: center;
	display: flex;
	flex: 10 1 auto;
	align-items: center;
}

#wallpaper > header > svg,
#wallpaper > header > h1{
	font-family: BogdanFont;
	text-align: center;
	font-size: 2.6em;
	line-height: 1.4em;
}

#wallpaper > p {
	text-align: center;
	font-family: BogdanFont;
	font-size: 1.2em;
	flex: .3 1 auto;
}

#wallpaper > p > a {
	font-family: BogdanFont;
	text-decoration: none;
	color: wheat;
}

/* ------------------------   Content   ------------------------*/
input{
	border-color: #E5E7EB;
}

#content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex:60%;
	background-color: rgb(233, 233, 231);
	font-size: 1em;
	color:black;
	font-weight: 800;
}

/*----- Content header ---- */
.contentHeader{
	line-height: 2em;
	font-size:1.5em;
	font-weight: 800;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex:1;
	padding: 100px 50px;
}

.contentHeader > *{
	padding-top: 1em;
}

/*----- Content form ---- */

.contentForm{
	display:flex;
	flex-direction: column;
	align-self:stretch;
	flex:1 0 auto;
	background: radial-gradient(circle, rgba(4,12,20,1) 0%, rgba(10,30,52,1) 7%, rgba(0,0,0,1) 8%, rgba(0,0,0,1) 12%, rgba(3,8,13,1) 19%, rgba(11,33,58,1) 23%, rgba(6,19,32,1) 30%, rgba(9,26,45,1) 37%, rgba(12,36,63,1) 63%, rgba(27,79,140,1) 69%, rgba(23,67,118,1) 77%, rgba(14,42,74,1) 78%, rgba(20,59,103,1) 93%);
	padding: 20px 50px;
	color:#E5E7EB;
	box-shadow: 0 10px 10px rgba(6, 7, 107, 0.582);
}

#content h5{
	font-size: 4em;
	margin-top: 40px;
}

#contactForm{
	display:flex;
	flex:3 0 auto;
	justify-content: space-evenly;
	align-items: stretch;
	column-gap: 200px;
	margin-right: 600px;
}

#contactForm > div{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 4 1 auto;
}

#contactForm > div > div {
	display:flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	gap: 10px;
	flex:1 1 auto;
}

input[type="password"]:invalid{
	border-color:red;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  height: 35px;
  padding: 6px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 50px;
}

/* ------- Content Button -------- */

.contentBottom{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap:30px;
	flex:1 1 auto;
	width: 100%;
	
	padding-top: 30px;
}

#submitContainer{
	display:flex;
	flex-direction: column;
	flex: 1 1 30px;
	justify-content: center;
	padding-left: 5%;
}

#submit{
	flex: 0 0 50px; 
	width: 200px;
	background-color: #596D48;
	color: #E5E7EB;
	font-size: 1.5em;
	font-weight: 1000;
}

.contentBottom > p {
	flex:4 1 auto;
	padding-left: 5%;
}