@import url('https://fonts.googleapis.com/css2?family=Honk&family=IBM+Plex+Sans:wght@200&family=Roboto:wght@300&display=swap');

@font-face{
	font-family: BogdanFont;
	src:url("./oyster/Oyster.otf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app{
	display: flex;
	height: 100vh;
	color: whitesmoke;
}

/* ----------------------   Wallpaper ------------------------ */
#wallpaper{
	background-image: url(../img.jpg);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	flex:40%;
	/* border-right:2em inset blue;
	border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	box-shadow: 10px 10px 10px black; */
}

#wallpaper > header {
	text-align: center;
	display: flex;
	flex: 10 1 auto;
	align-items: center;
}

#wallpaper > header > svg,
#wallpaper > header > h1{
	font-family: BogdanFont;
	text-align: center;
	font-size: 2.6em;
	line-height: 1.4em;
}

#wallpaper > p {
	text-align: center;
	font-family: BogdanFont;
	font-size: 1.2em;
	flex: .3 1 auto;
}

#wallpaper > p > a {
	font-family: BogdanFont;
	text-decoration: none;
	color: wheat;
}


/* ------------------------   Content   ------------------------*/
#content{
	flex:60%;
	background-color: #f5deb3;
}